# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
# *.exe
# *.out
# *.app
*.zip
*.tar.gz
src/Windows/CMakeFiles
src/Windows/cmake_install.cmake
src/Windows/CMakeCache.txt
src/Windows/Makefile

src/MacOS/CMakeFiles
src/MacOS/cmake_install.cmake
src/MacOS/CMakeCache.txt
src/MacOS/Makefile

src/Linux/CMakeFiles
src/Linux/cmake_install.cmake
src/Linux/CMakeCache.txt
src/Linux/Makefile

InstallerDeveloperTools/src/Windows/CMakeFiles
InstallerDeveloperTools/src/Windows/cmake_install.cmake
InstallerDeveloperTools/src/Windows/CMakeCache.txt
InstallerDeveloperTools/src/Windows/Makefile

InstallerDeveloperTools/src/MacOS/CMakeFiles
InstallerDeveloperTools/src/MacOS/cmake_install.cmake
InstallerDeveloperTools/src/MacOS/CMakeCache.txt
InstallerDeveloperTools/src/MacOS/Makefile

InstallerDeveloperTools/src/Linux/CMakeFiles
InstallerDeveloperTools/src/Linux/cmake_install.cmake
InstallerDeveloperTools/src/Linux/CMakeCache.txt
InstallerDeveloperTools/src/Linux/Makefile